


   .navbar-brand img {
    height: 50px;
    top: 0;
    left: 0;
  }
  
  #logo {
    margin-left: 15px;
  }
  
  
  .navbar .collapse ul {
  
  
    margin-left: 200px;
  
  
  }
  
  .navbar .collapse .navbar .collapse ul {
  
  
    
    margin-left: 100px;
    background-color: green;
  
  }
  
  
  .navbar .collapse ul li {
    padding: 5px;
    margin-left: 5px;
    /* background-color: aquamarine; */
  }

  
  
  .navbar .collapse .nav-right {
    background-color: none;
    margin-right: 20px;
  }
  
  .navbar .collapse .li-right {
    padding: 30px;
  }
  
  .search-bar {
    width: 1000px;
    margin: auto;
  
  }
  
  .search-bar form {
    width: 900px;
  
  
  }
  
  .search-bar form span button {
    display: inline-block;
    background-color: green;
  }
  
  .search-bar form span button i {
    display: inline-block;
    background-color: none;
  }
  



  .carousel-inner{
    height: 500px;
    width: 100%;
    
}
.carousel-item img {
    max-height: 100vh; 
    object-fit: cover;
    z-index: 0.5;
  }

 .carousel-indicators .indicator{
    height: 10px !important ;
    width: 5px !important;
    border-radius:0px !important;
    background-color: black;
    border: 1px solid rgb(109, 192, 109);
}

ol.carousel-indicators li.active {
    height: 20px !important;

  }

    .carousel-inner img {
        width: 100%;
        height: 100vh !important;
      }
.left.carousel-control,.right{
    color: black;

}

/* SERVICE NUMBER */

#service-numbers{
  background-color: #00923f;
}
#service-numbers h4{
  margin-top: 8px;
  padding: 5px;
  color:#fff;
}
#service-numbers p{
  color: #ffffff;
  font-size: large;
}


/* about us */
#about-us{
  margin-top: 30px;
}
.aboutus img{
  height: 200px;
  width: 300px;
}
.aboutus h3{
  border-bottom: 3px solid #00923f;
  max-width: fit-content;
}


/* PALNNING */

#planning{
  margin-top: 100px;
  align-items: center;
  text-align: center;
  height: 500px;
}
.planning img{
  height: 200px;
  width:250px;
}
.planning h3{
  margin-left: 100px;
  margin-top: 10px;
  border-bottom: 2px solid #00923f;
  max-width: fit-content;

  align-items: center;
}
.planning p{
  z-index: -1.4;
}


/*why ace */

#why-ace{
      margin-top: 50px;
      background-color: #1c2562;
}
.whyace img{
  margin-top: 30px;
  left: 5px;
  height: 220px;
  width: 400px;
}
.whyace ul{
  margin-top: 30px;
}

.whyace ul li{
  margin-top: 20px;
  color:#fff;
  font-style: oblique;
  list-style-type: square;
}

.whyace h3{
  color: #ffffff;
  margin-left: 30px;
  border-bottom: 2px solid #fff;
  width: fit-content;
}

@media only screen and (max-width: 600px) {
  .search-bar {
    width: 100%;
    margin: auto;
  
  }
  
  .search-bar form {
    width: 100%;
  
  
  }
  
  .search-bar form span button {
    display: inline-block;
    background-color: green;
  }
  
  .search-bar form span button i {
    display: inline-block;
    background-color: none;
  }


  .whyace img{
    display: none;
  }
}